<div id="new-story-container" class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <a href="#/stories">&lt;&lt; Back</a>
      <h3>New Story</h3>
      <form>
        <label for="newStory_headline">Headline:</label> <input id="newStory_headline" name="headline" v-model="headline" /><br />
        <label for="newStory_link">Link:</label> <input id="newStory_link" name="link" v-model="link" /><br />
        <input id="newStory_submit" type="submit" value="Post Story" />
      </form>
    </div>
  </div>
</div>
